<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">

    <!-- 使用工厂创建mongo实例 -->
    <bean id="mongo" class="com.ffzx.orm.common.mongo.MongoFactoryBean">
        <!-- mongoDB的配置对象 -->
       <!-- <property name="mongoOptions" ref="mongoOptions"/>-->
        <!-- 是否主从分离(读取从库)，默认为false，读写都在主库 -->
        <property name="readSecondary" value="false"/>

        <!-- 设定写策略，默认为WriteConcern.SAFE，优先级高于mongoOptions中的safe -->
        <!--<property name="writeConcern" value="SAFE"/>-->

        <!-- 设定服务器列表，默认为localhost:27017 -->
        <property name="serverStrings">
            <array>
                <value>root:123456@192.168.2.195:27017</value>
            </array>
        </property>
    </bean>

    <!-- 使用工厂创建morphia实例，同时完成类映射操作 -->
    <bean id="morphia" class="com.ffzx.orm.common.mongo.MorphiaFactoryBean" >
        <!-- 指定要扫描的POJO包路径 -->
        <property name="mapPackages">
            <array>
                <value>com.ffzx.ffsip.model</value>
            </array>
        </property>
    </bean>

    <!-- 使用工厂创建datastore，同时完成index和caps的确认操作 -->
    <bean id="datastore" class="com.ffzx.orm.common.mongo.DatastoreFactoryBean" >
        <property name="morphia" ref="morphia"/>
        <property name="mongo" ref="mongo"/>

        <!-- collection的名称 -->
        <property name="dbName" value="ffsip_db"/>
        <!-- 用户名和密码可以为空 -->
         <property name="username" value="root"/>
        <property name="password" value="123456"/>

        <!-- 是否进行index和caps的确认操作，默认为flase -->
        <property name="toEnsureIndexes" value="true"/>
        <property name="isToEnsureCaps" value="true"/>
    </bean>

</beans>
